<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="menu">Menu główne</div>
        <div class="list-group">
            <a href="/list" class="list-group-item list-group-item-action"><i class="fas fa-shopping-cart"></i> Wyświetl wszystkie produkty </a>
            <a href="/list?category=FOOD" class="list-group-item list-group-item-action"><i class="fas fa-utensils"></i> Wyświetl produkty z kategorii art. spożywcze</a>
            <a href="/list?category=HOME" class="list-group-item list-group-item-action"><i class="fas fa-home"></i> Wyświetl produkty z kategorii art. gospodarstwa domowego </a>
            <a href="/list?category=OTHER" class="list-group-item list-group-item-action"><i class="fas fa-cloud"></i> Wyświetl produkty z kategorii inne</a>
            <a href="/add" class="list-group-item list-group-item-action"><i class="fas fa-plus"></i> Dodaj nowy produkt</a>
        </div>
    </div>
</body>
</html>