<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="menu">Podgląd dostępnych produktów</div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product category</th>
                    <th scope="col">Product price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product:${products}">
                    <td th:text="${product.name}">product name</td>
                    <td th:text="${product.category.getDescription()}">product category</td>
                    <td th:text="${product.price}">product price</td>
                </tr>
                <tr class="summary-row">
                    <td colspan="2">Cena sumaryczna</td>
                    <td th:text="${sum}">1000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>